<header>
    <nav class="text-center">
        <h1 class="text-4xl font-bold my-4">Project Manager</h1>
        <a href="./new" class="text-blue-700 hover:underline">Create a new Project</a>
    </nav>
</header>

<ul class="mt-4 mx-4 md:w-2/3 md:mx-auto grid grid-cols-3 gap-4">
    {{#each docs}}
        <li class="p-3 rounded shadow">
            <a href="./project/{{slug}}"><h3 class="text-xl mb-2 font-semibold cursor-pointer">{{title}}</h3></a>
            <p class="text-sm text-gray-500">Last modified at: {{modified_at}}</p>
            <div class="mt-2 flex justify-between items-center">
                <p class="{{stage}} text-sm px-2 py-1 rounded text-white uppercase">{{stage}}</p>

                <a href="./deleteProject?title={{title}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 cursor-pointer" fill="none" viewBox="0 0 24 24"
                        stroke="red">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                </a>
            </div>
        </li>
    {{/each}}
</ul>